#inicial{
position: fixed;
top:0;
left: 0;
padding:0;
background-image: url(imagens/blue.jpg);
background-repeat: repeat;
height: 500px;
width:100000px;
}
#aviso{
position: absolute;
left: 0;
padding:0;
background-image: url(imagens/cinza.jpg);
height:100px;
width:100000px;
display: block;
transition: all 1s;
}
#img{
    position: fixed;
    left: 780px;
}
#texto{
    color: white;
    top: 200px;
 }
#botao_login{
    position: fixed;
    left: 1000px;
    margin-top: 15px;
}
.textos{
    position: fixed;
    text-align: center;
    margin: auto 20px;
    padding-top: 30px;
    top: 500px;
    color: black;
    }
#imgpesquise{
    top: 700px;
    position: fixed;
     font-family: 'Times New Roman', Times, serif;
}
#sobre{
    top:700px;
    position: absolute;
    margin: auto 100px;

}
#imgescreva{
    position: fixed;
    top: 700px;
    margin: auto 400px;
    font-family: 'Times New Roman', Times, serif;
}
#imgsolucione{
    position: fixed;
    top: 700px;
    margin: auto 800px;
    font-family: 'Times New Roman', Times, serif;
}
.botcom{
    position: relative;
    margin: auto 50px;
    color: grey;
	
}

